*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: sans-serif;
    line-height: 1;

}


.accordion {

    width: 700px;
    margin: 100px auto;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  
  .item {
    box-shadow: 0 0 30px rgba(red, green, blue, alpha);
    padding: 30px;
    padding-right: 40px;
    cursor: pointer;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff ;
    background: #ced4da;

align-items: center;

  }
  .number {
    font-size: 24px;
    font-weight: 5px;
    color: #ced4da;
  }

  .title,
  .icon {
    font-size: 24px;
    font-weight: 500px;

  }

  .content-box {
    grid-column:  2 / -1;
    padding-bottom: 16px;
    line-height: 1.6;;
  }

  .content-box ul {
    color: #868e96;
    margin-left: 16px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .open {
    border-top: 4px solid #087f5b;
  }

  .open .number,
  .open .title {
   color: #06a48f;
  }
